body {
  background-color: #bcb8b1;
}

.container {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 010px;
}
.item {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
}

.item span {
  font-weight: 600;
  font-size: 16px;
}

.header {
  width: 100%;
  color: white;
  background-color: #293241;
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
}

.pagination {
  display: block;
  margin: 20px auto;
  text-align: center;
}

.pagination a {
  padding: 10px;
  background-color: #8d99ae;
  cursor: pointer;
  margin: 10px;
  border-radius: 8px;
  font-size: 18px;
  color: black;
  font-weight: 600;
  display: inline-block;
  width: 120px;
}

.footer {
  display: flex;
  width: 100%;
  margin: 0px auto;
  justify-content: flex-end;
  background-color: #a6a2a2;
}

.footer div {
  width: 30%;
  display: inline-block;
  margin: 0 10px;
}
.footer div ul {
  display: flex;
  flex-direction: column;
}
.footer div ul li {
  list-style: none;
  cursor: pointer;
  width: fit-content;
}

.footer div ul li:hover {
  color: teal;
}
